In [74]:
import pandas as pd
import numpy as np

In [75]:
df=pd.read_csv('Data Semantics CaseStudy.csv')

In [76]:
df.head()

,ORDERTYPE,CUSTOMER,ITEMCODE,ORDERDATE,ORDERNO,OREDEREDQUANTITY,DELIVERYDATE,INVOICENO,DELIVEREDQUANTITY
0,ES1,C00237,IT0001433,15-JAN-2014 12.00.00.000000000 AM,219856,15.0,16-FEB-2014 12.00.00.000000000 AM,21300726,15.0
1,ES1,C00237,IT0001016,15-JAN-2014 12.00.00.000000000 AM,219857,750.0,11-FEB-2014 12.00.00.000000000 AM,21300626,750.0
2,ES1,C00237,IT0001024,15-JAN-2014 12.00.00.000000000 AM,219857,320.0,16-FEB-2014 12.00.00.000000000 AM,21300727,320.0
3,ES1,C00237,IT0001084,15-JAN-2014 12.00.00.000000000 AM,219857,250.0,11-FEB-2014 12.00.00.000000000 AM,21300626,250.0
4,ES3,C00196,IT0001076,27-MAR-2014 12.00.00.000000000 AM,255311,250.0,28-MAR-2014 12.00.00.000000000 AM,21301499,250.0

In [77]:
# Get the shape of data
df.shape

(51290, 9)

In [78]:
# Checking any null values
df.isnull().sum()

ORDERTYPE            0
CUSTOMER             0
ITEMCODE             0
ORDERDATE            0
ORDERNO              0
OREDEREDQUANTITY     0
DELIVERYDATE         0
INVOICENO            0
DELIVEREDQUANTITY    0
dtype: int64

In [79]:
## Summary statistics for numerical fields
df.describe() # Negative values are there and will be removed after feature seelction

             ORDERNO  OREDEREDQUANTITY     INVOICENO  DELIVEREDQUANTITY
count   51290.000000      51290.000000  5.129000e+04       51290.000000
mean   261530.257731        804.710887  2.147239e+07         323.485761
std     18684.183311       2718.225194  1.112629e+05        1604.866920
min    219685.000000      -3500.000000  2.130000e+07       -3500.000000
25%    257207.000000         72.000000  2.140218e+07          56.000000
50%    260408.000000        250.000000  2.150270e+07         160.000000
75%    263897.000000        960.000000  2.160213e+07         320.000000
max    842035.000000     120000.000000  2.161415e+07       75000.000000

In [80]:
##Removing 'ORDERNO','DELIVERYDATE','INVOICENO','DELIVEREDQUANTITY', since required to predict orderquantity ie inormation value.

df.drop(columns=['ORDERNO','DELIVERYDATE','INVOICENO','DELIVEREDQUANTITY'],inplace=True)

In [81]:
df.head()

,ORDERTYPE,CUSTOMER,ITEMCODE,ORDERDATE,OREDEREDQUANTITY
0,ES1,C00237,IT0001433,15-JAN-2014 12.00.00.000000000 AM,15.0
1,ES1,C00237,IT0001016,15-JAN-2014 12.00.00.000000000 AM,750.0
2,ES1,C00237,IT0001024,15-JAN-2014 12.00.00.000000000 AM,320.0
3,ES1,C00237,IT0001084,15-JAN-2014 12.00.00.000000000 AM,250.0
4,ES3,C00196,IT0001076,27-MAR-2014 12.00.00.000000000 AM,250.0

In [82]:
# Here date and month are important and that contributes more & year and other stuff doesnot matter.

# In 'ORDERDATE' column getting one field and checking length and accordingly will slice what ever i want for model building.

str='15-JAN-2014 12.00.00.000000000 AM'
len(str)

33

In [83]:
# Changing 'ORDERDATE' column to only date & month(Since if it is deployed also ,it will be more feasible & can give the same)

df['ORDERDATE']=df.ORDERDATE.str.slice(0,6)

In [84]:
#df['ORDERDATE']=df['ORDERDATE'].map({'29-FEB':'1-MAR'})

In [85]:
# 29th feburauy wont be there in year 2017 so as part of data cleaning changed to '1st March'

df.ORDERDATE.replace(['29-FEB'],['1-MAR'],inplace=True)

In [86]:
df.ORDERDATE.value_counts() # Checking whether ['29-FEB'] still exists or not.

05-MAR    349
09-FEB    333
11-FEB    319
23-MAY    297
10-MAR    293
16-MAR    288
07-APR    278
13-APR    276
24-MAR    276
18-FEB    270
14-SEP    266
02-FEB    254
13-AUG    253
29-SEP    252
08-JUN    250
28-MAY    250
06-JAN    250
26-OCT    248
28-JAN    247
15-DEC    247
31-JAN    245
12-OCT    240
18-JAN    240
21-APR    237
21-JAN    235
26-MAY    229
21-SEP    227
18-MAY    226
03-NOV    226
19-JAN    221
         ...
24-DEC     70
19-JUN     70
31-JUL     67
01-DEC     67
09-JUL     66
26-DEC     63
11-SEP     62
20-FEB     62
14-OCT     61
20-MAY     61
05-JUL     59
13-SEP     58
15-NOV     57
28-AUG     57
28-JUN     56
30-SEP     55
20-JUN     53
27-FEB     53
23-OCT     52
25-DEC     48
31-OCT     48
24-SEP     44
29-APR     43
02-JAN     43
02-DEC     41
04-OCT     40
07-JUL     38
31-DEC     31
1-MAR      24
15-OCT     22
Name: ORDERDATE, Length: 365, dtype: int64

In [87]:
# Coverting all categorical features to numbers

from sklearn.preprocessing import LabelEncoder

In [88]:
l=LabelEncoder()

In [89]:
df['ORDERTYPE']=l.fit_transform(df['ORDERTYPE'])
df['CUSTOMER']=l.fit_transform(df['CUSTOMER'])
df['ITEMCODE']=l.fit_transform(df['ITEMCODE'])
df['ORDERDATE']=l.fit_transform(df['ORDERDATE'])

In [90]:
df.head()

   ORDERTYPE  CUSTOMER  ITEMCODE  ORDERDATE  OREDEREDQUANTITY
0          0       136       432        172              15.0
1          0       136        15        172             750.0
2          0       136        23        172             320.0
3          0       136        83        172             250.0
4          1        95        75        319             250.0

In [91]:
df.boxplot()

In [92]:
# By summary of staistics,negative values are there and that rows can be dropped or replaced with 0 
# '-'can replaced with empty space using regex.(#Checking with domain experts we can place it accordingly )

# Here i replaced all negative values with 0. 

df[df['OREDEREDQUANTITY']<0] =0

In [93]:
df.describe()

,ORDERTYPE,CUSTOMER,ITEMCODE,ORDERDATE,OREDEREDQUANTITY
count,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,0.244707,136.195945,136.893313,178.316241,805.616802
std,0.431547,80.449751,142.185213,104.168389,2717.814670
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,58.000000,26.000000,90.000000,72.000000
50%,0.000000,144.000000,87.000000,180.000000,250.000000
75%,0.000000,211.000000,158.000000,267.000000,960.000000
max,3.000000,278.000000,527.000000,364.000000,120000.000000

In [94]:
# Selecting the predictor variables

x=df.iloc[:,:-1].values

In [95]:
# Selecting class variable

y=df.iloc[:,4].values

In [96]:
# Splitting the data in train and test.

from sklearn.cross_validation import train_test_split

C:\Users\reddyvari.n\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [97]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=10)

In [98]:
# Selecting the Classifier

from sklearn.ensemble import RandomForestRegressor

In [99]:
r=RandomForestRegressor()

In [100]:
r.fit(xtrain,ytrain)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [101]:
ypredict=r.predict(xtest)

In [102]:
# Using R-sqaured or coefficient of deteremination is a statistical measure of how close the data are to the fitted 
# regression line

from sklearn.metrics import r2_score,mean_squared_error

In [103]:
r2_score(ypredict,ytest)

0.9342739505980229

In [106]:
#mean_error=np.sqrt(mean_squared_error(ypredict,ytest))

In [107]:
#mean_error