# k-Nearest Neighbor

In [5]:
import numpy as np
import pandas as pd
import scipy

import matplotlib.pyplot as plt
from pylab import rcParams


import sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import metrics

## Splitting your data into test and training datasets

In [6]:
address = 'mtcars.csv'
cars = pd.read_csv(address)
cars.columns = ['car_names','mpg','cyl','disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']

In [7]:
cars.head(1)

   car_names   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

In [8]:
X_prime = cars.loc[:,['mpg','cyl','disp','wt']]
y = cars.loc[:,'am']

In [9]:
cars.head()

,car_names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [10]:
X = preprocessing.scale(X_prime)

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.33, random_state=17)

## Building and training your model with training data

In [12]:
clf = KNeighborsClassifier(n_neighbors=2)

clf.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=2, p=2,
           weights='uniform')

## Evaluating your model's predictions against the test dataset

In [12]:
y_expect = y_test
y_pred = clf.predict(X_test)

print(metrics.classification_report(y_expect, y_pred))
print(metrics.accuracy_score(y_expect, y_pred))
print(metrics.confusion_matrix(y_expect, y_pred))

             precision    recall  f1-score   support

          0       0.62      1.00      0.77         5
          1       1.00      0.50      0.67         6

avg / total       0.83      0.73      0.71        11

0.727272727273
[[5 0]
 [3 3]]

In [13]:
from sklearn.naive_bayes import MultinomialNB, GaussianNB

clf_nb = GaussianNB()
X_train, X_test, y_train, y_test = train_test_split(X_prime, y, test_size=.33, random_state=17)

clf_nb.fit(X_train, y_train)
y_expect = y_test
y_pred = clf_nb.predict(X_test)

print(metrics.classification_report(y_expect, y_pred))
print(metrics.accuracy_score(y_expect, y_pred))
print(metrics.confusion_matrix(y_expect, y_pred))

             precision    recall  f1-score   support

          0       0.83      1.00      0.91         5
          1       1.00      0.83      0.91         6

avg / total       0.92      0.91      0.91        11

0.909090909091
[[5 0]
 [1 5]]