In [1]:
# Load Libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [2]:
wine_data = pd.read_csv('/Users/ashok/Downloads/winequality-white.csv',";")

In [19]:
wine_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 13 columns):
fixed acidity           4898 non-null float64
volatile acidity        4898 non-null float64
citric acid             4898 non-null float64
residual sugar          4898 non-null float64
chlorides               4898 non-null float64
free sulfur dioxide     4898 non-null float64
total sulfur dioxide    4898 non-null float64
density                 4898 non-null float64
pH                      4898 non-null float64
sulphates               4898 non-null float64
alcohol                 4898 non-null float64
quality                 4898 non-null int64
taste                   4898 non-null object
dtypes: float64(11), int64(1), object(1)
memory usage: 497.5+ KB

In [6]:
wine_data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,taste
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,NaN
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,NaN
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,NaN
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,NaN
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,NaN

In [27]:
wine_data.loc[(wine_data.quality<5),'taste'] = 'bad'
wine_data.loc[(wine_data.quality>=5) & (wine_data.quality<=7),'taste'] = 'normal'
wine_data.loc[(wine_data.quality>7) ,'taste'] = 'good'

In [28]:
wine_data.taste.describe()

count       4898
unique         3
top       normal
freq        4535
Name: taste, dtype: object

In [29]:
X = wine_data.iloc[:,0:11]
y = wine_data.iloc[:,12]

<h3>Split Train Test</h3>

In [30]:
X_train,X_test,y_train,y_test =train_test_split(X,y, test_size = 0.3, random_state = 17)

In [31]:
X_train.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
96,6.0,0.34,0.66,15.9,0.046,26.0,164.0,0.99790,3.14,0.50,8.8
2292,6.5,0.32,0.23,1.2,0.054,39.0,208.0,0.99272,3.18,0.46,9.9
1054,7.0,0.31,0.52,1.7,0.029,5.0,61.0,0.99180,3.07,0.43,10.4
3687,6.0,0.16,0.27,12.0,0.030,39.0,98.0,0.99402,3.15,0.34,10.8
596,6.9,0.41,0.33,10.1,0.043,28.0,152.0,0.99680,3.20,0.52,9.4

<h3>Random Forest Model</h3>

In [32]:
rf_model =  RandomForestClassifier()
rf_model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [33]:
# Scoring based on the train RF Model
predictions = rf_model.predict(X_test)

In [34]:
# Confusion Matrix
print(confusion_matrix(y_test, predictions))

[[  12    0   39]
 [   0   20   28]
 [  10    3 1358]]

In [35]:
print(accuracy_score(y_test, predictions))

0.9455782312925171